.header {
    display: flex;
    justify-content: space-between;
}
.logo>img{
    width: 100px;
}
.shimmer {
    display: flex;
    flex-wrap: wrap;
}
.shimmer div {
    margin: 20px;
    height: 300px;
    width: 150px;
    background: #7c7878;
}
.filter {
    display: flex;
}
 .filter button {
    margin-right: 10px;
    margin-left: 10px;
}

.Nav-items ul{
    display: flex;
    flex-wrap: wrap;
}

.Nav-items ul li{
    list-style: none;
    margin-right: 20px;
}